<head>
	<title>{{ dict 'siteName'}}</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link rel="icon" href="https://s3.amazonaws.com/meteor-cms-default/orionjs/favicon.ico" type="image/vnd.microsoft.icon">
</head>