<template name="two_column_SL">
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12 col-md-12 col-lg-12" style="margin-top:40px;">
                <a href="{{dict 'logoLink'}}">
                    <img class="img-circle" src="{{ dict 'logo.url' 'http://i.imgur.com/6PeLvIG.png' }}">
                </a>
                <!-- Every page comes with a title -->
                <h1 class="title">{{ title }}</h1>

                <p>{{ dict 'description' }}</p>

                <p>
                    <a href="{{ pathFor 'home' }}">
                        Back
                    </a>
                </p>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                {{{ lc}}}
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                {{{ content }}}
            </div>
        </div>
    </div>

</template>