.notes-list {
	position: relative;
	top: 1000px;
	margin-top: 270px;
}

.white-panel {
	display: none;
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 200;
}

.top-buffer {
  margin-top:20px;
}

.image {
	position: relative;
	background-size: cover;
	background-position: center;
	min-height: 350px;
	cursor: pointer;
	margin: -10px 0;
	background-color: darken(#fff, 5%);
	background-image: url(https://farm4.staticflickr.com/3655/3525052768_90251b3e17_o.jpg);

	.content {
		position: relative;
		top: 300px;

		h3 {
			margin: 10px 20px;
			color: #fff;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
			small {
				color: darken(#fff, 5%);
			}
		}
	}
}