<template name="home">
	<div class="notes-list">
		<div class="container">
      {{> noteSearch}}
      
			{{# each filterednotes }}
				{{> homenoteItem }}
    	{{/ each }}
       
		</div>
	</div>
	<div class="white-panel"></div>
  
</template>

<template name="homenoteItem">
	<div class="row top-buffer">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="image" style="{{# if image }}background-image: url({{ image.url }}){{/ if }}">
				<div class="content">
					<h3>
						{{ title }} <small>{{ livestamp createdAt }}</small>
					</h3>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="noteSearch">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
         <input id="filter" type="text" class="form-control" >
        </div>
    </div>	
  </div>
</template>

