<template name="note">
	<div class="note-header" style="{{# if image }}background-image: url({{ image.url }}){{/ if }}">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="content">
						<span class="back">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
						</span>
						<h3>
							{{ title }} <small>{{ livestamp createdAt }}</small>
						</h3>
						<p class="writer">
							{{ getUserName }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="body">
					{{{ body }}}
				</div>
			</div>
		</div>
	</div>
</template>