<template name="layout">
    <div class="header">

        <a href="{{ dict 'logoLink' 'http://wattsapplications.com'}}">
            <img class="img-circle" src="{{ dict 'logo.url' 'http://i.imgur.com/6PeLvIG.png' }}">
        </a>

        <h1 class="title">{{ dict 'siteName'}}</h1>

        <p>{{ dict 'description' }}</p>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {{# each pages}}
                    <div class="col-lg-3">
                        <a href="{{ path }}" title="{{ title }}">
                            <i class="fa fa-{{ icon }} fa-2x"></i> <br>
                            <small class="hidden-xs hidden-sm hidden-md">{{ title }}</small>
                        </a>
                    </div>
                {{/ each }}
            </div>
        </div>


    </div>
    <!-- Because this is used like a layout, the yield will include the template with the name of the route.  -->
    <div class="clearfix">
        {{> yield }}
    </div>
    <br><br><br>
</template>